extends layout

block content
	script.
		$(document).ready(function() {
			if(!window.wellnessMain)
			{
				window.wellnessMain = new WELLNESS.CLIENT.Main();
			}
			window.wellnessMain.addEvents('dashboard', !{isTrainee});
		});

	div.container
		div.row.row-no-top
			div.content
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
					a(href='#' id='backtohome')
						.navBtn.back
							.arrowBlueLeft
				div.col-xs-6.col-sm-6.col-md-6.col-lg-6
					div.pageInstruct Select player picture
					div.arrowWhiteDown
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
					if isTrainee
						//- a(href='#')#sendreport
						//- 	.gridBtn.right
						//- 		.gridBlue
						a(href='#')#changequestions
							.navBtn.grid
								.gridBlue
						a(href='#')#generalreport
							.navBtn.live ...
					else
						a(href='#')
							div.thfclogo.right
				each player in players
					div.col-xs-6.col-sm-3.col-md-3.col-lg-3
						if isTrainee
							div(data-user=player.surname.toLowerCase())
								div.playerCircle
									if player.formCompleated == true
										div.playerImage.completedForm(class=player.surname.toLowerCase())
									else
										div.playerImage(class=player.surname.toLowerCase())
								div.playerInfo
									if player.role == 'gk'
										span.playerNo.gk= player.player_number
										= player.surname
									else
										span.playerNo= player.player_number
										= player.surname
						else
							a.player_login(data-user=player.surname.toLowerCase())
								div.playerCircle
									div.playerImage(class=player.surname.toLowerCase())
								div.playerInfo
									if player.role == 'gk'
										span.playerNo.gk= player.player_number
										= player.surname
									else
										span.playerNo= player.player_number
										= player.surname

	div.popOverlay(style='display:none;')#playerpop
		div.popUp.dob
			div.popUpPlayerCircle
				div.playerImage
			div.playerInfo
				span.playerNo
			div.popUpInstruct.dob Enter date of birth
			form
				input(type="text" name="Day" placeholder="DD" maxlength="2")#playerday
				input(type="text" name="Month" placeholder="MM" maxlength="2")#playermonth
				input(type="text" name="Year" placeholder="YY" maxlength="2")#playeryear
			a(href='#' id='playerlogin')
				div.popUpBtn.dob
					div.arrowBlueRight
			//- a(href='#' id='playerclose')
			//- 	div.dobPopUpBtn
			//- 		div.arrowBlueRight