extends layout

block content
	script.
		$(document).ready(function() {
			if(!window.wellnessMain)
			{
				window.wellnessMain = new WELLNESS.CLIENT.Main();
			}
			window.wellnessMain.addEvents('dashboard');
		});

	div.container
		div.row.row-no-top
			div.content
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
					a(href='#' id='backtohome')
						.backBtn
							.arrowBlueLeft
				div.col-xs-6.col-sm-6.col-md-6.col-lg-6
					div.pageInstruct Select player picture
					div.arrowWhiteDown
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
					if isTrainee
						a(href='#')
							.gridBtn.right
								.gridBlue
					else
						a(href='#')
							div.thfclogo.right
				each player in players
					div.col-xs-6.col-sm-3.col-md-3.col-lg-3
						if isTrainee
							div(data-user=player.surname.toLowerCase())
								div.playerCircle
									if player.formCompleated == true
										div.playerImage.completedForm(class=player.surname.toLowerCase())
									else
										div.playerImage(class=player.surname.toLowerCase())
								div.playerInfo
									if player.formCompleated == true
										span.playerNo= player.player_number
										= player.surname
									else
										span.playerNo.gk= player.player_number
										= player.surname
						else
							a.player_login(data-user=player.surname.toLowerCase())
								div.playerCircle
									div.playerImage(class=player.surname.toLowerCase())
								div.playerInfo
									span.playerNo.gk= player.player_number
									= player.surname

	div.popOverlay(style='display:none;')#playerpop
		div.dobPopUp
			div.playerCircle
				div.playerImage.dier
			div.playerInfo
				span.playerNo
			div.dobInstruct Enter date of birth
			form
				input(type="text" name="Day" placeholder="DD" maxlength="2")#playerday
				input(type="text" name="Month" placeholder="MM" maxlength="2")#playermonth
				input(type="text" name="Year" placeholder="YY" maxlength="2")#playeryear
			a(href='#' id='playerlogin')
				div.dobPopUpBtn
					div.arrowBlueRight
			a(href='#' id='playerclose')
				div.dobPopUpBtn
					div.arrowBlueRight