extends layout

block content
	script.
		$(document).ready(function() {
			if(!window.wellnessMain)
			{
				window.wellnessMain = new WELLNESS.CLIENT.Main();
			}
			window.wellnessMain.addEvents('generalreport');
		});

	div.container
		div.row.row-no-top
			div.content
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
					a(href='#' id='backtodash')
						.navBtn.back
							.arrowBlueLeft
				div.col-xs-6.col-sm-6.col-md-6.col-lg-6
					div.pageInstruct #{user}
					div.arrowWhiteDown
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
					a(href='#')#sendreport
						.navBtn.edit
							.emailBlue
				div.col-xs-12.col-sm-12.col-md-12.col-lg-12
					table
						thead
							tr
								th
								each answer_field in answers_by_date.questions
									th #{answer_field.question}
						tbody
							each person,key in answers_by_date
								if key != 'questions'
									tr
										td.name
											div.playerInfo
												if person.role == "g_k"
													span.playerNo.gk= person.number
												else
													span.playerNo= person.number
												span= person.name
										each answer in person.answers
											if answer.scale == "1"
												td.neg 
													if answer.specific
														| #{answer.general} 
														each spec, key in answer.specific
															div #{key}:
																each spec_in_spec, index in spec
																	if index != spec.length-1
																		|  #{spec_in_spec},
																	else
																		|  #{spec_in_spec}
													else
														| #{answer.general}
											else
												td #{answer.general}