extends layout

block content
	script.
		$(document).ready(function() {
			if(!window.wellnessMain)
			{
				window.wellnessMain = new WELLNESS.CLIENT.Main();
			}
			window.wellnessMain.addEvents('playerform');
		});

	div.container
		div.row.row-no-top
			div.content
				div.popUp.notComplete#enotcomplete(style='display:none;')
					div.popUpInstruct You must answer all questions!
					a(href="#")
						div.popUpBtn.login
							div.arrowBlueLeft
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
					a(href='#' id='backtodash')
						div.navBtn.back
							div.arrowBlueLeft
				div.col-xs-6.col-sm-6.col-md-6.col-lg-6
					div.pageInstruct #{user}
					div.arrowWhiteDown
				div.col-xs-3.col-sm-3.col-md-3.col-lg-3
					a(href='#')
						div.thfclogo.right
				each question,key in questions
					if question.on == "true"
						div.col-xs-12.col-sm-12.col-md-12.col-lg-12
							if question.type === 'txt'
								div.formQuestion.serverAnsw(data-id=key, data-type=question.type)
									div.formInstruct.input
										p #{question.txt}
									div.form
										input(type='text', placeholder="0")
							else if question.type === 'tap'
								div.formQuestion.serverAnsw(data-id=key, data-type=question.type)
									div.formInstruct
										p #{question.txt}
									each option in question.answers
										a.formBtnCont
											div.formBtn
												p #{option}
							else if question.type === 'tappop'
								div.formQuestion.serverAnsw(data-id=key, data-type=question.type)
									div.formInstruct
										p #{question.txt}
									each option, index in question.answers
										if question.popup.whofires.indexOf(index.toString()) != -1
											a.formBtnCont.tappop(popup-data-from=key)
												div.formBtn
													p #{option}
										else
											a.formBtnCont.nopop
												div.formBtn
													p #{option}
				
				div.col-xs-3.col-xs-offset-9.col-sm-3.col-sm-offset-9.col-md-3.col-dm-offset-9.col-lg-3.col-lg-offset-9
					a(href='#')#submitanswers
						div.submitBtn.right
							div.arrowBlueRight

	each question,key in questions
		if question.on == "true"
			if question.type === 'tappop'
				div.popOverlay(popup-data-to=key, style='display:none;')
					.popUp.muscle
						.popUpInstruct.muscle #{question.popup.title}
						.formQuestionCont
							each parts,muscle in question.popup.questions
								.formQuestion.muscle.popupAnsw(data-header=muscle data-answer="")
									.formInstruct.muscle
										p #{muscle}
									each part in parts
										.formBtnCont.muscle
											.formBtn.muscle
												p #{part}
						a.closePop(href='#')
							.popUpBtn.muscle
								.arrowBlueRight