extends layout

block content
	//- #players
	//- 	each question in questions
	//- 		label #{question.txt} 
	//- 		input(type="text", name=question.id id=question.id).answers
	//- 	button.sendanswers
	script.
		$(document).ready(function() {
			if(!window.wellnessMain)
			{
				window.wellnessMain = new WELLNESS.CLIENT.Main();
			}
			window.wellnessMain.addEvents('playerform');
		});

	div.container
	div.row.row-no-top
		div.content
			div.col-xs-3.col-sm-3.col-md-3.col-lg-3
				a(href='#' id='backtodash')
					div.backBtn
						div.arrowBlueLeft
			div.col-xs-6.col-sm-6.col-md-6.col-lg-6
				div.pageInstruct #{user}
				div.arrowWhiteDown
			div.col-xs-3.col-sm-3.col-md-3.col-lg-3
				a(href='#')
					div.thfclogo.right
			each question in questions
				div.col-xs-12.col-sm-12.col-md-12.col-lg-12
					if question.type === 'txt'
						div.formQuestion(data-id=question.id, data-type=question.type)
							div.formInstruct.input
								p #{question.txt}
							input(type='text')
					else if question.type === 'tap'
						div.formQuestion(data-id=question.id, data-type=question.type)
							div.formInstruct
								p #{question.txt}
							each option in question.answers
								a.formBtnCont
									div.formBtn
										p #{option}
			div.col-xs-3.col-xs-offset-9.col-sm-3.col-sm-offset-9.col-md-3.col-dm-offset-9.col-lg-3.col-lg-offset-9
				a(href='#')#submitanswers
					div.submitBtn.right
						div.arrowBlueRight